@model IEnumerable<projektKompo.Models.Review>

@{
    ViewBag.Title = "Index";
}



<div class="jumbotron">
    <h2>Recenzje</h2>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Dodaj recenzję", "Create")
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tittle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tittle)
            </td>
            <td>
                <span class="more">
                    @Html.DisplayFor(modelItem => item.Description, new { @class = "more" })
                </span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @if (User != null && User.Identity != null && item.Email == User.Identity.Name)
                {
                    <div class="adminLinks">
                        @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) 
                        @Html.ActionLink("Usuń", "Delete", new { id = item.Id }) 
                    </div>
                }
                @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }) 
                @Html.ActionLink("Oceny", "Index", "RattingReviews", new { id = item.Id }, null) 
                
            </td>
        </tr>
    }

</table>


</div>

<script type="text/javascript">
    $(document).ready(function () {
        // Configure/customize these variables.
        var showChar = 100;  // How many characters are shown by default
        var ellipsestext = "...";
        var moretext = "Show more >";
        var lesstext = "Show less";


        $('.more').each(function () {
            var content = $(this).html();
            console.log("cos");
            if (content.length > showChar) {

                var c = content.substr(0, showChar);
                var h = content.substr(showChar, content.length - showChar);

                var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

                $(this).html(html);
            }

        });

        $(".morelink").click(function () {
            if ($(this).hasClass("less")) {
                $(this).removeClass("less");
                $(this).html(moretext);
            } else {
                $(this).addClass("less");
                $(this).html(lesstext);
            }
            $(this).parent().prev().toggle();
            $(this).prev().toggle();
            return false;
        });
    });

</script>

@Scripts.Render("~/bundles/custom")
